.dashboard .recent-sales {
    font-size: 14px;
}

.dashboard .recent-sales table thead {
    background: rgba(255, 218, 185, 1)!important;
}

.dashboard .recent-sales table thead th {
    border: 0;
}

.dashboard .recent-sales .dataTable-top {
    padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
    padding: 10px 0 0 0;
}
.dashboard .recent-sales .rct tr th 
{

    background: rgba(255, 218, 185, 1)!important;
    color: rgba(10, 46, 55, 1) !important;

}
.dashboard .top-selling .rct2 tr th
{
    background: rgba(255, 218, 185, 1)!important;
    color: rgba(10, 46, 55, 1) !important;
}