/* Info Cards */
.dashboard .info-card {
    padding-bottom: 10px;
    /* background-color: rgba(255, 119, 0, 0.5); */
}

.dashboard .info-card h6 {
    font-size: 28px;
    color:  rgba(10, 46, 55, 1);
    font-weight: 700;
    margin: 0;
    padding: 0;

}
.dashboard .info-card .card-title{
    color: #d65627 !important;

}
.dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.dashboard .sales-card .card-icon {
    color: #d65627;
    background: #FFDAB9;
}
.dashboard .revenue-card .card-icon {
    color: #2eca6a;
    background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
    color: #ff771d;
    background: #ffecdf;
}
