*{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','rubik',
    sans-serif;
    color: #0A2E37;
}
.header{
    color: #FF7700;
    
}