.card-header:first-child {
    border-radius: 0.4rem 0.4rem 0 0;
}
h5, .h5 {
    font-size: calc(1.275rem + 0.3vw);
  }
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    /* color: var(--bs-heading-color); */
  }
  .cols
  {
    color: #FF7700;
  }

  h3, .h3 {
    font-size: calc(1.363rem + 1.356vw);
}

.border-bottom {
    border-bottom: 1px solid #dce0e5 !important;
}


.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.btn {
    letter-spacing: 0.5px!important;
    position: relative!important;
    overflow: hidden!important;
    outline: 0!important;
    margin-bottom: 6px!important;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
.form-check .form-check-input, .form-check .form-check-label {
    cursor: pointer;
}
.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}
.form-check .form-check-input, .form-check .form-check-label {
    cursor: pointer;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
}
input {
    display: block;
}
.form-label {
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #85878a;
}
input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

.w-40px {
    width: 40px !important;
}
.me-2 {
    margin-right: 0.5rem !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
img {
    max-width: 100%;
    height: auto;
}img, svg {
    vertical-align: middle;
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input:checked {
    background-color: #09B850;
    border-color: #09B850;
}
.fs-5 {
    font-size: calc(1.275rem + 0.3vw) !important;
}

@media  (min-width:1200) {
    .fs-5 {
        font-size: 1.5rem !important;
    }
    
}

.pb-3 {
    padding-bottom: 1rem !important;
}
.list-group-borderless .list-group-item {
    border: none !important;
    padding: 0.425rem 0;
}
h6, .h6 {
    font-size: 1.2rem;
}.btn {
    letter-spacing: 0.5px;
    position: relative;
    overflow: hidden;
    outline: 0;
    margin-bottom: 6px;
}
.bttn
{
    
    color:rgba(255, 255, 255, 1);
    background-color: #FF7700;
}
.bttn:hover
{
    
    color:#FF7700;
    background-color: rgba(255, 255, 255, 1);
}